{
  "serverHotKey": "${ALWAYS_ON_SERVER_HOTKEY}",
  "profitmargin": ${ALWAYS_ON_SERVER_PROFIT_MARGIN},
  "upgradeHouse": ${ALWAYS_ON_SERVER_UPGRADE_HOUSE},
  "petname": "${ALWAYS_ON_SERVER_PET_NAME}",
  "farmcavechoicemushrooms": ${ALWAYS_ON_SERVER_FARM_CAVE_CHOICE_MUSHROOMS},
  "communitycenterrun": ${ALWAYS_ON_SERVER_COMMUNITY_CENTER_RUN},
  "timeOfDayToSleep": ${ALWAYS_ON_SERVER_TIME_OF_DAY_TO_SLEEP},
  "lockPlayerChests": ${ALWAYS_ON_SERVER_LOCK_PLAYER_CHESTS},
  "clientsCanPause": ${ALWAYS_ON_SERVER_CLIENTS_CAN_PAUSE},
  "copyInviteCodeToClipboard": ${ALWAYS_ON_SERVER_COPY_INVITE_CODE_TO_CLIPBOARD},
  "festivalsOn": ${ALWAYS_ON_SERVER_FESTIVALS_ON},
  "eggHuntCountDownConfig": ${ALWAYS_ON_SERVER_EGG_HUNT_COUNT_DOWN},
  "flowerDanceCountDownConfig": ${ALWAYS_ON_SERVER_FLOWER_DANCE_COUNT_DOWN},
  "luauSoupCountDownConfig": ${ALWAYS_ON_SERVER_LUAU_SOUP_COUNT_DOWN},
  "jellyDanceCountDownConfig": ${ALWAYS_ON_SERVER_JELLY_DANCE_COUNT_DOWN},
  "grangeDisplayCountDownConfig": ${ALWAYS_ON_SERVER_GRANGE_DISPLAY_COUNT_DOWN},
  "iceFishingCountDownConfig": ${ALWAYS_ON_SERVER_ICE_FISHING_COUNT_DOWN},
  "endofdayTimeOut": ${ALWAYS_ON_SERVER_END_OF_DAY_TIMEOUT},
  "fairTimeOut": ${ALWAYS_ON_SERVER_FAIR_TIMEOUT},
  "spiritsEveTimeOut": ${ALWAYS_ON_SERVER_SPIRITS_EVE_TIMEOUT},
  "winterStarTimeOut": ${ALWAYS_ON_SERVER_WINTER_STAR_TIMEOUT},
  "eggFestivalTimeOut": ${ALWAYS_ON_SERVER_EGG_FESTIVAL_TIMEOUT},
  "flowerDanceTimeOut": ${ALWAYS_ON_SERVER_FLOWER_DANCE_TIMEOUT},
  "luauTimeOut": ${ALWAYS_ON_SERVER_LUAU_TIMEOUT},
  "danceOfJelliesTimeOut": ${ALWAYS_ON_SERVER_DANCE_OF_JELLIES_TIMEOUT},
  "festivalOfIceTimeOut": ${ALWAYS_ON_SERVER_FESTIVAL_OF_ICE_TIMEOUT}
}