{
  "EnableInSeasons": {
    "Spring": ${CROPS_ANYTIME_ANYWHERE_ENABLE_IN_SEASONS_SPRING},
    "Summer": ${CROPS_ANYTIME_ANYWHERE_ENABLE_IN_SEASONS_SUMMER},
    "Fall": ${CROPS_ANYTIME_ANYWHERE_ENABLE_IN_SEASONS_FALL},
    "Winter": ${CROPS_ANYTIME_ANYWHERE_ENABLE_IN_SEASONS_WINTER}
  },
  "FarmAnyLocation": ${CROPS_ANYTIME_ANYWHERE_FARM_ANY_LOCATION},
  "ForceTillable": {
    "Dirt": ${CROPS_ANYTIME_ANYWHERE_FORCE_TILLABLE_DIRT},
    "Grass": ${CROPS_ANYTIME_ANYWHERE_FORCE_TILLABLE_GRASS},
    "Stone": ${CROPS_ANYTIME_ANYWHERE_FORCE_TILLABLE_STONE},
    "Other": ${CROPS_ANYTIME_ANYWHERE_FORCE_TILLABLE_OTHER}
  }
}